nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    margin-top: -3rem;
  }
  .navbar-menu-container {
    display: none;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: wheat;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .nav-logo-container{
    width: 250px;
  }
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: #ecab48;
    outline: none;
    color: white;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }
  .primary-button:hover {
    background-color: rgb(234, 234, 234);
  }
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }